body {
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}

.ff {
    width: 210px;
    height: 170px;
}

header {
    background-color: rgba(141, 134, 93, 0.425);

}

img {
    height: 300px;
    padding: 10px;
    weight: 300px; 
}

.ll{
    height: 100px;
    weight: 100px;   
}
